Repository abehm815/Cards-With-Friends: changes, and which GitLab CI jobs are due for each by the changed paths.
All: maven-build, maven-test, auto-deploy, android-build, android-test

maven-build:
  image: maven:3.9-eclipse-temurin-17
  stage: mavenbuild
  tags:
  - springboot_tag
  script:
  - cd Backend/project/project2
  - mvn package
  artifacts:
    paths:
    - Backend/project/project2/target/*.jar

maven-test:
  image: maven:3.9-eclipse-temurin-17
  stage: maventest
  tags:
  - springboot_tag
  script:
  - cd Backend/project/project2
  - mvn test

auto-deploy:
  image: maven:3.9-eclipse-temurin-17
  stage: mavendeploy
  tags:
  - springboot_tag
  script:
  - cd Backend/project/project2
  - mvn clean package
  - sudo mv target/onetoone-1.0.0.jar /target/web-demo.jar
  - sudo systemctl stop system-web-demo
  - sudo systemctl start system-web-demo

android-build:
  image: afirefly/android-ci:java17
  stage: androidbuild
  tags:
  - android_tag
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - chmod +x ./Frontend/CardsWithFriends/gradlew
  script:
  - cd Frontend/CardsWithFriends
  - ./gradlew build

android-test:
  image: afirefly/android-ci:java17
  stage: androidtest
  tags:
  - android_tag
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - chmod +x ./Frontend/CardsWithFriends/gradlew
  script:
  - cd Frontend/CardsWithFriends
  - ./gradlew test

Added tests and backend coverage report
  Backend/project/project2/src/test/java/data/Lobby/JakeSystemTest.java
  Documents/backend_coverage_reports/css/coverage.css
  Documents/backend_coverage_reports/css/idea.min.css
  Documents/backend_coverage_reports/img/arrowDown.gif
  Documents/backend_coverage_reports/img/arrowUp.gif
  Documents/backend_coverage_reports/index.html
  Documents/backend_coverage_reports/index_SORT_BY_BLOCK.html
  Documents/backend_coverage_reports/index_SORT_BY_BLOCK_DESC.html
  Documents/backend_coverage_reports/index_SORT_BY_CLASS.html
  Documents/backend_coverage_reports/index_SORT_BY_CLASS_DESC.html
  Documents/backend_coverage_reports/index_SORT_BY_LINE.html
  Documents/backend_coverage_reports/index_SORT_BY_LINE_DESC.html
  Documents/backend_coverage_reports/index_SORT_BY_METHOD.html
  Documents/backend_coverage_reports/index_SORT_BY_METHOD_DESC.html
  Documents/backend_coverage_reports/index_SORT_BY_NAME_DESC.html
  Documents/backend_coverage_reports/js/highlight.min.js
  Documents/backend_coverage_reports/js/highlightjs-line-numbers.min.js
  Documents/backend_coverage_reports/ns-1/index.html
  Documents/backend_coverage_reports/ns-1/index_SORT_BY_BLOCK.html
  Documents/backend_coverage_reports/ns-1/index_SORT_BY_BLOCK_DESC.html
  Documents/backend_coverage_reports/ns-1/index_SORT_BY_CLASS.html
  Documents/backend_coverage_reports/ns-1/index_SORT_BY_CLASS_DESC.html
  Documents/backend_coverage_reports/ns-1/index_SORT_BY_LINE.html
  Documents/backend_coverage_reports/ns-1/index_SORT_BY_LINE_DESC.html
  Documents/backend_coverage_reports/ns-1/index_SORT_BY_METHOD.html
  Documents/backend_coverage_reports/ns-1/index_SORT_BY_METHOD_DESC.html
  Documents/backend_coverage_reports/ns-1/index_SORT_BY_NAME_DESC.html
  Documents/backend_coverage_reports/ns-1/sources/source-1.html
  Documents/backend_coverage_reports/ns-1/sources/source-2.html
  Documents/backend_coverage_reports/ns-1/sources/source-3.html
  Documents/backend_coverage_reports/ns-1/sources/source-4.html
  Documents/backend_coverage_reports/ns-1/sources/source-5.html
  Documents/backend_coverage_reports/ns-1/sources/source-6.html
  Documents/backend_coverage_reports/ns-1/sources/source-7.html
  Documents/backend_coverage_reports/ns-1/sources/source-8.html
Due: maven-build, maven-test, auto-deploy

tested and fixed bugs in crazy 8 making discord how to play soon
  Backend/project/project2/src/main/java/data/Game/Crazy8/Crazy8Card.java
  Backend/project/project2/src/main/java/data/Game/Crazy8/Crazy8Game.java
  Backend/project/project2/src/main/java/data/Game/Crazy8/Crazy8WebSocket.java
  Backend/project/project2/src/main/java/data/Lobby/GameType.java
Due: maven-build, maven-test, auto-deploy

blackjack now tracks chips in database
  Backend/project/project2/src/main/java/data/Game/BlackJack/BlackJackGame.java
  Backend/project/project2/src/main/java/data/Lobby/GameType.java
  Backend/project/project2/src/main/java/data/User/AppUser.java
  Backend/project/project2/src/main/java/data/User/AppUserController.java
  Backend/project/project2/src/main/resources/application.properties
  Backend/project/project2/src/test/java/data/Lobby/ColtenSystemTest.java
Due: maven-build, maven-test, auto-deploy

Fixed error with chips and hibernate
  Backend/project/project2/src/main/java/data/User/AppUser.java
  Backend/project/project2/src/main/resources/application.properties
Due: maven-build, maven-test, auto-deploy

Stat tracking added
  Backend/project/project2/src/main/java/data/Game/euchre/EuchreGame.java
Due: maven-build, maven-test, auto-deploy

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Testing for .yml
  Backend/project/project2/src/main/java/data/Game/euchre/EuchreWebsocket/EuchreServer.java
Due: maven-build, maven-test, auto-deploy

Match history is now tracked for GoFish
  Backend/project/project2/pom.xml
  Backend/project/project2/src/main/java/data/Game/goFish/GoFishGame.java
  Backend/project/project2/src/main/java/data/Game/goFish/GoFishPlayer.java
  Backend/project/project2/src/main/java/data/Game/goFish/GoFishService.java
  Backend/project/project2/src/main/java/data/Game/goFish/history/GoFishHistoryController.java
  Backend/project/project2/src/main/java/data/Game/goFish/history/GoFishMatchEventEntity.java
  Backend/project/project2/src/main/java/data/Game/goFish/history/GoFishMatchEventRepository.java
  Backend/project/project2/src/main/java/data/Game/goFish/history/GoFishMatchHistoryEntity.java
  Backend/project/project2/src/main/java/data/Game/goFish/history/GoFishMatchHistoryRepository.java
  Backend/project/project2/src/main/java/data/Game/goFish/websocket/GoFishServer.java
  Backend/project/project2/src/main/java/data/config/JacksonConfig.java
Due: maven-build, maven-test, auto-deploy

Not yet complete good checkpoint
  Backend/project/project2/src/main/java/data/Game/euchre/EuchreGame.java
  Backend/project/project2/src/main/java/data/Game/euchre/EuchreWebsocket/EuchreServer.java
  Backend/project/project2/src/main/java/data/Game/euchre/history/EuchreHistoryController.java
  Backend/project/project2/src/main/java/data/Game/euchre/history/EuchreMatchEventEntity.java
  Backend/project/project2/src/main/java/data/Game/euchre/history/EuchreMatchEventRepository.java
  Backend/project/project2/src/main/java/data/Game/euchre/history/EuchreMatchHistoryEntity.java
  Backend/project/project2/src/main/java/data/Game/euchre/history/EuchreMatchHistoryRepository.java
  Backend/project/project2/src/main/java/data/Game/goFish/history/GoFishHistoryController.java
Due: maven-build, maven-test, auto-deploy

almost done logging for blackjack
  Backend/project/project2/src/main/java/data/Game/BlackJack/BlackJackGame.java
  Backend/project/project2/src/main/java/data/Game/BlackJack/history/BlackJackHistoryController.java
  Backend/project/project2/src/main/java/data/Game/BlackJack/history/BlackJackMatchEventEntity.java
  Backend/project/project2/src/main/java/data/Game/BlackJack/history/BlackJackMatchEventRepository.java
  Backend/project/project2/src/main/java/data/Game/BlackJack/history/BlackJackMatchHistoryEntity.java
  Backend/project/project2/src/main/java/data/Game/BlackJack/history/BlackJackMatchHistoryRepository.java
  Backend/project/project2/src/main/resources/application.properties
Due: maven-build, maven-test, auto-deploy

Working on getting euchre working
  Frontend/CardsWithFriends/.idea/misc.xml
  Frontend/CardsWithFriends/app/build.gradle
  Frontend/CardsWithFriends/app/src/androidTest/java/com/example/androidexample/ElijahHerringSystemTest.java
  Frontend/CardsWithFriends/app/src/main/AndroidManifest.xml
  Frontend/CardsWithFriends/app/src/main/java/com/example/androidexample/EuchreActivity.java
  Frontend/CardsWithFriends/app/src/main/java/com/example/androidexample/LobbyViewActivity.java
  Frontend/CardsWithFriends/app/src/main/java/com/example/androidexample/services/CardView.java
  Frontend/CardsWithFriends/app/src/main/res/layout/activity_euchre.xml
Due: android-build, android-test

fully working logging for blackjack
  Backend/project/project2/src/main/java/data/Game/BlackJack/BlackJackGame.java
  Backend/project/project2/src/main/java/data/Game/BlackJack/BlackJackWebSocket.java
  Backend/project/project2/src/main/java/data/Game/BlackJack/history/BlackJackMatchEventEntity.java
  Backend/project/project2/src/main/java/data/Game/BlackJack/history/BlackJackMatchHistoryEntity.java
Due: maven-build, maven-test, auto-deploy

Finished working on admin page
  Frontend/CardsWithFriends/app/src/main/java/com/example/androidexample/AdminActivity.java
  Frontend/CardsWithFriends/app/src/main/java/com/example/androidexample/LobbyViewActivity.java
  Frontend/CardsWithFriends/app/src/main/res/layout/activity_admin.xml
Due: android-build, android-test

Logger finished correcting bugs
  Backend/project/project2/src/main/java/data/Game/euchre/EuchreGame.java
  Backend/project/project2/src/main/java/data/Game/euchre/EuchreService.java
  Backend/project/project2/src/main/java/data/Game/euchre/EuchreTeam.java
  Backend/project/project2/src/main/resources/application.properties
Due: maven-build, maven-test, auto-deploy

logging for Crazy 8's
  Backend/project/project2/src/main/java/data/Game/BlackJack/history/BlackJackMatchHistoryRepository.java
  Backend/project/project2/src/main/java/data/Game/Crazy8/Crazy8Game.java
  Backend/project/project2/src/main/java/data/Game/Crazy8/Crazy8WebSocket.java
  Backend/project/project2/src/main/java/data/Game/Crazy8/history/Crazy8HistoryController.java
  Backend/project/project2/src/main/java/data/Game/Crazy8/history/Crazy8MatchEventEntity.java
  Backend/project/project2/src/main/java/data/Game/Crazy8/history/Crazy8MatchEventRepository.java
  Backend/project/project2/src/main/java/data/Game/Crazy8/history/Crazy8MatchHistoryEntity.java
  Backend/project/project2/src/main/java/data/Game/Crazy8/history/Crazy8MatchHistoryRepository.java
Due: maven-build, maven-test, auto-deploy

Updated homescreen and lobbies to have crazy 8
  Frontend/CardsWithFriends/app/src/main/AndroidManifest.xml
  Frontend/CardsWithFriends/app/src/main/java/com/example/androidexample/HomeActivity.java
  Frontend/CardsWithFriends/app/src/main/java/com/example/androidexample/JoinActivity.java
  Frontend/CardsWithFriends/app/src/main/java/com/example/androidexample/LobbyActivity.java
  Frontend/CardsWithFriends/app/src/main/java/com/example/androidexample/LobbyViewActivity.java
  Frontend/CardsWithFriends/app/src/main/java/com/example/androidexample/crazy8/Crazy8Activity.java
  Frontend/CardsWithFriends/app/src/main/res/drawable/home_card_crazy8s.png
  Frontend/CardsWithFriends/app/src/main/res/layout/activity_crazy8.xml
  Frontend/CardsWithFriends/app/src/main/res/layout/activity_home.xml
  Frontend/CardsWithFriends/local.properties
Due: android-build, android-test

Many bugs fixed
  Backend/project/project2/src/main/java/data/Game/euchre/EuchreGame.java
  Backend/project/project2/src/main/java/data/Game/euchre/EuchrePlayer.java
  Backend/project/project2/src/main/java/data/Game/euchre/EuchreService.java
  Backend/project/project2/src/main/java/data/Game/euchre/EuchreTeam.java
  Backend/project/project2/src/main/java/data/Game/euchre/EuchreWebsocket/EuchreServer.java
  Backend/project/project2/src/main/java/data/User/Stats/UserStats.java
Due: maven-build, maven-test, auto-deploy

Finished working on Euchre
  Frontend/CardsWithFriends/app/src/main/java/com/example/androidexample/EuchreActivity.java
  Frontend/CardsWithFriends/app/src/main/res/layout/activity_euchre.xml
Due: android-build, android-test

Quick fix to alter euchre game length
  Backend/project/project2/src/main/java/data/Game/euchre/EuchreGame.java
Due: maven-build, maven-test, auto-deploy

bug fixes for crazy 8
  Backend/project/project2/src/main/java/data/Game/Crazy8/Crazy8Game.java
Due: maven-build, maven-test, auto-deploy

ststats bug
  Backend/project/project2/src/main/java/data/Game/Crazy8/Crazy8Game.java
Due: maven-build, maven-test, auto-deploy

another bug fix
  Backend/project/project2/src/main/java/data/Game/Crazy8/Crazy8Game.java
Due: maven-build, maven-test, auto-deploy

fixed bugs
  Backend/project/project2/src/main/java/data/Game/euchre/EuchreGame.java
Due: maven-build, maven-test, auto-deploy

more bug fixes
  Backend/project/project2/src/main/java/data/Game/euchre/EuchreGame.java
Due: maven-build, maven-test, auto-deploy

Crazy 8 implementation
  Frontend/CardsWithFriends/.idea/assetWizardSettings.xml
  Frontend/CardsWithFriends/.idea/misc.xml
  Frontend/CardsWithFriends/app/src/main/java/com/example/androidexample/crazy8/Crazy8Activity.java
  Frontend/CardsWithFriends/app/src/main/java/com/example/androidexample/crazy8/UIHelpers.java
  Frontend/CardsWithFriends/app/src/main/java/com/example/androidexample/services/Crazy8CardView.java
  Frontend/CardsWithFriends/app/src/main/res/drawable/card_eight.xml
  Frontend/CardsWithFriends/app/src/main/res/drawable/card_reverse.xml
  Frontend/CardsWithFriends/app/src/main/res/drawable/card_skip.xml
  Frontend/CardsWithFriends/app/src/main/res/layout/activity_crazy8.xml
Due: android-build, android-test

player passing fixed?
  Backend/project/project2/src/main/java/data/Game/euchre/EuchreGame.java
Due: maven-build, maven-test, auto-deploy

Finished game history
  Frontend/CardsWithFriends/app/src/main/AndroidManifest.xml
  Frontend/CardsWithFriends/app/src/main/java/com/example/androidexample/HistoryActivity.java
  Frontend/CardsWithFriends/app/src/main/java/com/example/androidexample/MatchDetailActivity.java
  Frontend/CardsWithFriends/app/src/main/java/com/example/androidexample/ProfileActivity.java
  Frontend/CardsWithFriends/app/src/main/res/drawable/bg_blackjack.xml
  Frontend/CardsWithFriends/app/src/main/res/drawable/bg_crazy8.xml
  Frontend/CardsWithFriends/app/src/main/res/drawable/bg_euchre.xml
  Frontend/CardsWithFriends/app/src/main/res/drawable/bg_gofish.xml
  Frontend/CardsWithFriends/app/src/main/res/drawable/rounded_card_white.xml
  Frontend/CardsWithFriends/app/src/main/res/layout/activity_history.xml
  Frontend/CardsWithFriends/app/src/main/res/layout/activity_match_detail.xml
  Frontend/CardsWithFriends/app/src/main/res/layout/activity_profile.xml
  Frontend/CardsWithFriends/app/src/main/res/layout/item_history.xml
Due: android-build, android-test

Path conditions:
  maven-build: any of: Backend/**/*
  maven-test: any of: Backend/**/*
  auto-deploy: any of: Backend/**/*
  android-build: any of: Frontend/CardsWithFriends/**/*
  android-test: any of: Frontend/CardsWithFriends/**/*
